<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration

        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"

        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="driver_class">com.mysql.jdbc.Driver</property>

        <property name="useUnicode">true</property>
        <property name="characterEncoding">UTF-8</property>

        <!--连接数据库的URL -->


        <property name="url">
        jdbc:mysql://rm-j6cx1p79i05lns91v.mysql.rds.aliyuncs.com:3306/mobius?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false
        </property>
        <!--<property name="url">-->
        <!--jdbc:mysql://drds9j4c53jsqgg0public.drds.aliyuncs.com:3306/o2_trading_drds-->
        <!--</property>-->
        <!--连接的登录名-->
        <property name="username">mobius</property>

        <!--登录密码-->
        <property name="password">Mobius2018</property>

        <!--<property name="url">-->
            <!--jdbc:mysql://rm-j6cm604168ii34b45.mysql.rds.aliyuncs.com:3306/mobius?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false-->
        <!--</property>-->

        <!--&lt;!&ndash;连接的登录名&ndash;&gt;-->
        <!--<property name="username">mobius</property>-->

        <!--&lt;!&ndash;登录密码&ndash;&gt;-->
        <!--<property name="password">Mobius2018</property>-->

        <property name="hibernate.connection.provider_class">
            org.guiceside.persistence.hibernate.support.DruidConnectionProvider
        </property>
        <property name="initialSize">1</property>
        <property name="minIdle">1</property>
        <property name="maxActive">40</property>
        <property name="maxWait">60000</property>
        <property name="timeBetweenEvictionRunsMillis">60000</property>
        <property name="minEvictableIdleTimeMillis">60000</property>
        <property name="validationQuery">SELECT 1</property>
        <property name="testWhileIdle">true</property>
        <property name="testOnBorrow">false</property>
        <property name="testOnReturn">false</property>
        <property name="poolPreparedStatements">false</property>
        <property name="defaultAutoCommit">true</property>
        <property name="filters">stat</property>
        <property name="defaultTransactionIsolation">READ_COMMITTED</property>

        <property name="hibernate.current_session_context_class">
            managed
        </property>


        <!-- 一次读的数据库记录数 -->

        <property name="jdbc.fetch_size">50</property>

        <!-- 设定对数据库进行批量删除 -->
        <property name="jdbc.batch_size">30</property>


        <!--是否将运行期生成的SQL输出到日志以供调试-->

        <property name="show_sql">false</property>
        <property name="format_sql">false</property>

        <!--指定连接的语言-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    </session-factory>

</hibernate-configuration>